body {
    background-color: #a373c5;




}
div video{
    width: 40vh;
}

/* Estilos para centralizar o vídeo */
#v1 {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

video {
    max-width: 100%; /* Garante que o vídeo não ultrapasse a largura do contêiner */
    height: auto;    /* Mantém a proporção original do vídeo */
    border: 10px dashed rgb(116, 33, 116);
}

/* Estilos para o contador */
#contador {
    font-size: 5.5vh; /* Ajuste o tamanho do texto conforme necessário */
    font-weight: bold; /* Torna o texto mais negrito (opcional) */
    color: #333; /* Define a cor do texto, você pode escolher qualquer cor */
    text-align: center; /* Centraliza o texto horizontalmente no contêiner pai */
    margin-top: 20px; /* Espaço acima do contador, ajuste conforme necessário */
}

#mensagem {
    margin: 20px;
    padding: 20px;
    font-size: 40px;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#audio-player {
    display: none; /* Oculta o player de áudio padrão */
}
