body{
    background-color: #6a0dad;
}
h1 {
    text-align: center;
    font-size: 8vh;
}

h2 {
    text-align: center;
    font-size: 3vh;
}

p {
    text-align: center;
    font-size: 2vh;
}

/* Estilo para o botão */



    
/* Estilo básico para o botão */
.botao {
    display: inline-block;
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 3vh; /* Tamanho da fonte do botão */
    color: #fff; /* Cor do texto */
    background-color: #007bff; /* Cor de fundo azul */
    text-align: center;
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 8px; /* Borda arredondada */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.botao:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura para hover */
}
